In [2]:
import pandas as pd
from pathlib import Path

In [3]:
file = Path("desktop/schools_complete.csv")
file2 = Path("desktop/students_complete.csv")

In [50]:
school_data = pd.read_csv(file)
school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [51]:
student_data = pd.read_csv(file2)
student_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [52]:

schools_unique = len (school_data["school_name"].unique())
schools_unique

15

In [53]:

total_students = student_data["Student ID"].count()
total_students

39170

In [55]:
total  = school_data["budget"].sum()
total

24649428

In [33]:
avg_math = student_data["math_score"].mean()
avg_math

78.98537145774827

In [34]:
avg_reading = student_data["reading_score"].mean()
avg_reading

81.87784018381414

In [20]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = student_data[(student_data["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(total_students) * 100
passing_math_percentage

74.9808526933878

In [21]:
passing_reading_count = student_data[(student_data["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(total_students) * 100
passing_reading_percentage

85.80546336482001

In [26]:
passing_math_reading_count = student_data[
    (student_data["math_score"] >= 70) & (student_data["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(total_students) * 100
overall_passing_rate

65.17232575950983

In [35]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame([{
    "Total Schools" :schools_unique,
    "Total Students":total_students,
    "Total Budget" : total,
    "Average Math score" : avg_math,
    "Average Reading Score" : avg_reading,
    "% passing math" : passing_math_percentage,
    "% passing reading" : passing_reading_percentage,
    "Overall Passing" : overall_passing_rate
    
    
}])

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math score,Average Reading Score,% passing math,% passing reading,Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [39]:
school_name = (school_data["school_name"]).count
school_name

<bound method Series.count of 0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
Name: school_name, dtype: object>

In [41]:
school_type = (school_data["type"]).unique
school_type

<bound method Series.unique of 0     District
1     District
2      Charter
3     District
4      Charter
5      Charter
6      Charter
7     District
8      Charter
9      Charter
10     Charter
11    District
12    District
13    District
14     Charter
Name: type, dtype: object>

In [43]:
per_school_counts = (school_data["size"]).unique
per_school_counts

<bound method Series.unique of 0     2917
1     2949
2     1761
3     4635
4     1468
5     2283
6     1858
7     4976
8      427
9      962
10    1800
11    3999
12    4761
13    2739
14    1635
Name: size, dtype: int64>

In [57]:
per_school_budget = school_data['budget']/school_data['size']
per_school_budget

0     655.0
1     639.0
2     600.0
3     652.0
4     625.0
5     578.0
6     582.0
7     628.0
8     581.0
9     609.0
10    583.0
11    637.0
12    650.0
13    644.0
14    638.0
dtype: float64

In [63]:

average_math_score_per_school = student_data.groupby('school_name')['math_score'].mean()


print(average_math_score_per_school)

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [64]:
average_reading_score_per_school = student_data.groupby('school_name')['reading_score'].mean()


print(average_reading_score_per_school)

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [65]:

total_students = len(student_data)  
passing_math_count = len(student_data[student_data['math_score'] >= 70])  

percent_passing_math = (passing_math_count / total_students) * 100

percent_passing_math

74.9808526933878

In [66]:
total_students = len(student_data)  
passing_reading_count = len(student_data[student_data['reading_score'] >= 70])  

percent_passing_reading = (passing_reading_count / total_students) * 100

percent_passing_reading

85.80546336482001

In [70]:
passing_both_count = len(student_data[(student_data['math_score'] >= 70) & (student_data['reading_score'] >= 70)]) 
percent_passing_both = (passing_both_count / total_students) * 100
percent_passing_both

65.17232575950983

In [78]:
per_school_summary = pd.DataFrame({
    "School Type" :schools_unique,
    "Total Students":total_students,
    "Total School Budget" : total,
    "Average Math score" : avg_math,
    "Average Reading Score" : avg_reading,
    "% passing math" : passing_math_percentage,
    "% passing reading" : passing_reading_percentage,
    "Overall Passing" : overall_passing_rate
    
    
})

per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

ValueError: If using all scalar values, you must pass an index